.error{
    width: 100%;
    text-align: center;
    padding: 60px;
}
.error h2{
    font-size: 60px;
    color: var(--dark-gray);
}

.error p {
    font-size: var(--text-20);
    margin-bottom: 16px;
}

.error a{
    padding: 8px 12px;
    border-radius: 5px;
    background: var(--primary);
    color: var(--dark-gray);
    transition: var(--transition);
    font-size: var(--text-20);

    &:hover{
        color: var(--gray);
    }
}