.inicio_contenido{
  width: 100%;
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  position: relative;
}

aside{
  text-align: center;
  background: var(--black);
}
section h3 {
  width: 100%;
  font-size: var(--text-20);
  color: var(--primary);
  background: var(--dark-gray);
  padding: 20px 0px
}

section ul{
  padding: 0px 30px 16px;
}

section ul li{
  padding: 16px 0px;
  border-bottom: .7px solid var(--gray);
  font-size: var(--text-16);
}
section ul li a {
  color: var(--bck);
}
section ul li a:hover{
  color: var(--primary);
}

section:nth-child(2) ul li:nth-child(2),
section:nth-child(1) ul li:nth-child(4) {
  border-bottom: none;
}

/* cards */

article{
  padding: 30px 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.card{
  width: 350px;
  background: var(--white);
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  gap: 16px;
  transition: var(--transition);
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}
.card:hover{
  transform: translateY(-4px);
}
.card a{
  color: var(--dark-gray);
}
.card h3{
  font-size: var(--text-20);
  font-weight: bold;
  width: 100%;
  background: var(--black);
  padding: 16px 20px;
  color: var(--primary);
  text-transform: uppercase;
}
.card img{
  width: 320px;
  margin-top: 16px;
}
.card p{
  padding: 0px 20px 16px 20px;
  text-align: left;
}
/* .servicio_cliente{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--black);
  color: var(--white);
  position: fixed;
  bottom: 60px;
  right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: .7px solid var(--gray);
  font-size: var(--text-32);
  cursor: pointer;
  transition: var(--transition);
  &:hover{
    color: var(--gray);
  }
} */