/* Importaciones */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url(header.css);
@import url(contenido_inicio.css);
@import url(404.css);
@import url(credito.css);
@import url(leasing.css);
@import url(servicio.css);
@import url(formulario.css);
@import url(footer.css);
/* Variables */
:root {
  --primary: #FFCC00;
  --dark-gray: #2E2E2E;
  --gray: #666666;
  --bck: #F2F2F2;
  --white: #FFFFFF;
  --black: #1A1A1A;
  --text-16: 16px;
  --text-20: 20px;
  --text-32: 32px;
  --transition: all .2s;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor{
  width: 100%;
  height: auto;
  background: var(--bck);
  position: relative;
  font-family: "Lato", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
  transition: var(--transition);
}
ul{
  list-style: none;
}

main{
  font-family: 'Roboto';
}

.btn {
  background-color: var(--primary);
  color: var(--black);
  border: none;
  padding: 12px 24px;
  border-radius: 8px;
  font-size: var(--text-16);
  cursor: pointer;
  transition: var(--transition);
  &:hover{
    background-color: var(--dark-gray);
  color: var(--white);
  }
}

.contenido {
  display:flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px 60px;
  background-color: var(--bck);
  font-family: sans-serif;
  color: var(--black);
}